<h1>New Event</h1>

<%= render 'form' %>
<% if params[:redirect_to] == 'homepage' %>
    <%= link_to 'Back', controller: 'homepage' %>
<% elsif params[:redirect_to] == 'true' || params[:redirect_to] == '' %>
    <%= link_to 'Back', controller: 'events', :show_all => params[:redirect_to] %>
<% else %>
    <%= link_to 'Back', controller: 'events', :date => params[:redirect_to] %>
<% end %>
