@import "elements.less";
@import "homepage.less";

#showlist {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    padding-bottom: 70px;
    font-weight: 900;
}

#showedit {
    float: right;
}

.showlabel {
    color: @red;
}
